<div class="col-md-6">
    <div class="bg-white p-3 rounded shadow-sm mb-4" data-bs-toggle="modal" data-bs-target="#myModal">
        <a href="#" class="text-decoration-none text-secondary">
            <textarea class="form-control rounded mb-3" rows="2" placeholder="Share your thoughts...."></textarea>
        </a>

        <button class="btn btn-primary w-100">Post</button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg"> <!-- Use modal-sm for a smaller popup -->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Share thoughts</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <div class="modal-body p-5">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group mb-3">
                                <textarea name="content" class="form-control" rows="5" placeholder="Write something..."
                                    required></textarea>
                            </div>
                            <div class="row mt-4">
                                <!-- Image Upload -->
                                <div class="form-group mb-3 col-3 text-center">
                                    <label for="images" class="icon-label">
                                        <i class="fa-solid fa-image fs-3 text-primary"></i>
                                        <p class="small text-muted">Upload Images</p>
                                    </label>
                                    
                                    <input type="file" name="images" id="images" class="d-none" accept="image/*"
                                        multiple>
                                </div>

                                <!-- Video Upload -->
                                <div class="form-group mb-3 col-3 text-center">
                                    <label for="videos" class="icon-label">
                                        <i class="fa-solid fa-video fs-3 text-primary"></i>
                                        <p class="small text-muted">Upload Videos</p>
                                    </label>
                                    
                                    <input type="file" name="videos" id="videos" class="d-none" accept="video/*"
                                        multiple>
                                </div>
                            </div>


                            <button type="submit" class="btn btn-primary w-100 mt-4">Post</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
    {% include 'core/view_posts.html' %}
</div>