<div class="col-md-6">
    <div class="bg-white p-3 rounded shadow-sm mb-4" data-bs-toggle="modal" data-bs-target="#myModal">
        <a href="#" class="text-decoration-none text-secondary">
            <textarea class="form-control rounded mb-3" rows="2" placeholder="Share your thoughts...."></textarea>
        </a>

        <button class="btn btn-primary w-100">Post</button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg"> <!-- Use modal-sm for a smaller popup -->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Share thoughts</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <div class="modal-body p-5">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group mb-3">
                                <textarea name="content" class="form-control" rows="5" placeholder="Write something..."
                                    required></textarea>
                            </div>
                            <div class="row mt-4">
                                <!-- Image Upload -->
                                <div class="form-group mb-3 col-3 text-center">
                                    <label for="images" class="icon-label">
                                        <i class="fa-solid fa-image fs-3 text-primary"></i>
                                        <p class="small text-muted">Upload Images</p>
                                    </label>
                                    
                                    <input type="file" name="images" id="images" class="d-none" accept="image/*"
                                        multiple>
                                </div>

                                <!-- Video Upload -->
                                <div class="form-group mb-3 col-3 text-center">
                                    <label for="videos" class="icon-label">
                                        <i class="fa-solid fa-video fs-3 text-primary"></i>
                                        <p class="small text-muted">Upload Videos</p>
                                    </label>
                                    
                                    <input type="file" name="videos" id="videos" class="d-none" accept="video/*"
                                        multiple>
                                </div>
                            </div>


                            <button type="submit" class="btn btn-primary w-100 mt-4">Post</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
    {% for post in posts %}
    <div class="p-3 card-body rounded shadow-sm mb-4 bg-white">

        <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center mb-3">
                <img src="{{ post.user.profile_picture.url }}" class="rounded-circle me-3" alt="Profile Picture">
                <div>
                    <h6 class="m-0">{{ post.user.first_name }} {{ post.user.last_name }}</h6>
                    <small class="text-muted">{{ post.created_at|timesince }} ago</small>
                </div>
            </div>

            <div class="dropdown">
                <a href="#" class="text-decoration-none fs-3" id="dropdownMenuLink" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    ...
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <!-- <li><a class="dropdown-item" href="{% url 'edit_post' post.id %}">Edit</a></li> -->
                    <li><a class="dropdown-item" href="{% url 'delete_post' post.id %}">Delete</a></li>
                </ul>
            </div>
        </div>

        <!-- Post Content Section -->
        <div class="post mb-4">
            <p>{{ post.content }}</p>

            {% if post.media.all %}
            <div class="media-container">
                <!-- If only one item, display it full size -->
                {% if post.media.count == 1 %}
                <div class="media-item">
                    {% for media in post.media.all %}
                    {% if media.media_type == 'image' %}
                    <img src="{{ media.file.url }}" class="img-fluid rounded mb-3" alt="Post image">
                    {% elif media.media_type == 'video' %}
                    <video src="{{ media.file.url }}" class="rounded mb-3 w-100" controls></video>
                    {% elif media.media_type == 'document' %}
                    <a href="{{ media.file.url }}" target="_blank">Download Document</a>
                    {% endif %}
                    {% endfor %}
                </div>
                <!-- If two or more items, display only first 3 -->
                {% else %}
                <div class="row">
                    {% for media in post.media.all|slice:":3" %}
                    <div class="col-12 col-md-4 mb-3">
                        {% if media.media_type == 'image' %}
                        <div class="image-container">
                            <img src="{{ media.file.url }}" class="img-fluid rounded border" alt="Post image">
                        </div>
                        {% elif media.media_type == 'video' %}
                        <div class="video-container ratio ratio-16x9">
                            <video src="{{ media.file.url }}" class="rounded border w-100" controls></video>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>

                {% if post.media.count > 3 %}
                <button class="btn btn-primary mt-3" id="showMoreButton-{{ post.id }}">+ Show More</button>
                <div id="extraMedia-{{ post.id }}" class="d-none">
                    <div class="row">
                        {% for media in post.media.all|slice:"3:" %}
                        <div class="col-12 col-md-4 mb-3">
                            {% if media.media_type == 'image' %}
                            <div class="image-container">
                                <img src="{{ media.file.url }}" class="img-fluid rounded border" alt="Post image">
                            </div>
                            {% elif media.media_type == 'video' %}
                            <div class="video-container ratio ratio-16x9">
                                <video src="{{ media.file.url }}" class="rounded border w-100" controls></video>
                            </div>
                            {% elif media.media_type == 'document' %}
                            <a href="{{ media.file.url }}" target="_blank">Download Document</a>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}

</div>