{% extends 'core/base.html' %}

{% block title %}{{ post_user_profile.first_name }} Profile View{% endblock %}

{% block content %}
<!-- Profile Header -->
<div class="static-layout">
    <div class="container-fluid bg-light">
        <div class="container py-4">
            <div class="row align-items-center d-flex justify-content-evenly">
                <div class="col-md-2 text-center">
                    <label for="profile_picture_input">
                        <img src="{% if profile.profile_picture %}{{ profile.profile_picture.url }}{% else %}https://via.placeholder.com/120{% endif %}" 
                             alt="Profile Picture" class="img-fluid mb-3  shadow" style="cursor: pointer;">
                    </label>
                </div>
                <div class="col-md-6">
                    <h3 class="fw-bold">{{ post_user_profile.first_name }} {{ post_user_profile.last_name }}</h3>
                    <p class="mb-1 text-secondary">{{ post_user_profile.headline }}</p>
                    <p class="text-muted"><i class="fa-solid fa-location-dot me-1"></i>{{ post_user_profile.location }}</p>
                        <a href="" class="btn btn-outline-primary btn-sm me-2">Connect</a>
                        <a href="" class="btn btn-outline-success btn-sm me-2">Message</a>
                        <a href="#" class="btn btn-outline-secondary btn-sm me-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Contact Info</a>

                </div>
                {% if work_experiences %}
                <div class="col-md-2 text-center fs-4">
                    <i class="text-secondary">{{ work_experiences.0.company_name }}</i>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

  <!-- Modal Structure -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Contact Information</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="d-flex justify-content-center align-items-center">
                <div class="card border-0 shadow-sm" style="width: 50rem;">
                    <div class="card-header border-0">
                        <h2>Contact Information</h2>
                    </div>
                    <div class="card-body p-4">
                        <form method="post">
                            <div class="card border-0 mb-5">
                                <div class="card-body">
                                    <p><strong>Full Name:</strong> {{ post_user_profile.first_name }} {{ post_user_profile.last_name }}</p>
                                    <p><strong>Email:</strong> {{ post_user_profile.contact_email }}</p>
                                    <p><strong>Phone:</strong> {{ post_user_profile.contact_phone }}</p>
                                    <p><strong>Website:</strong> <a href="{{ post_user_profile.contact_website }}" target="_blank">{{ post_user_profile.contact_website }}</a></p>
                                    <p><strong>GitHub:</strong> <a href="{{ post_user_profile.github_url }}" target="_blank">{{ post_user_profile.github_url }}</a></p>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer border-0">
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  
<!-- Main Content -->
<div class="container-fluid my-3">
    <div class="row justify-content-center">
        <!-- Middle Column -->
        <div class="col-md-9">
            <!-- Work Experience -->
            <div class="card mb-2 shadow-sm border-0 rounded">
                <div class="card-body">
                    <div class=" align-items-center mb-3">
                        <h5 class="card-title text-primary">Experience</h5>
                    </div>
                    {% for experience in work_experiences %}
                    <div class="mb-4 px-5">
                        <h6 class="fw-bold">{{ experience.role }}</h6>
                        <p class="text-muted mb-1">{{ experience.company_name }} - <span>{{ experience.emplyoment_type }}</span></p>
                        <p class="text-muted mb-1">{{ experience.start_date }} - {{ experience.end_date|default:"Present" }}</p>
                        <p class="text-muted">{{ experience.location }} <span class="mx-2">•</span> {{ experience.location_type }}</p>
                        <p class="mt-2">{{ experience.description }}</p>
                        <hr class="text-white">
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Education -->
            <div class="card mb-2 shadow-sm border-0 rounded">
                <div class="card-body">
                    <div class=" align-items-center mb-3">
                        <h5 class="card-title text-primary">Education</h5>
                    </div>
                    {% for education in educations %}
                    <div class="mb-2 px-5">
                        <h6 class="fw-bold">{{ education.school_name }}</h6>
                        <p class="text-muted mb-1">{{ education.degree }} in {{ education.field_of_study }}</p>
                        <p class="text-muted">{{ education.start_year }} - {{ education.end_year|default:"Present" }}</p>
                        <hr class="text-white">
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Certifications -->
            <div class="card mb-2 shadow-sm border-0 rounded">
                <div class="card-body">
                    <div class=" align-items-center mb-3">
                        <h5 class="card-title text-primary">Certifications</h5>
                    </div>
                    {% for certification in certifications %}
                    <div class="mb-4 px-5">
                        <h6 class="fw-bold">{{ certification.name }}</h6>
                        <p class="text-muted mb-1">Issued by {{ certification.issuing_organization }}</p>
                        <p class="text-muted">Issued: {{ certification.issue_date }}{% if certification.expiration_date %}, Expires: {{ certification.expiration_date }}{% endif %}</p>
                        <hr class="text-white">
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Skills -->
            <div class="card mb-4 shadow-sm border-0 rounded">
                <div class="card-body">
                    <div class=" align-items-center mb-3">
                        <h5 class="card-title text-primary">Skills</h5>
                    </div>
                    {% for skill in skills %}
                    <span class="badge bg-primary rounded-pill px-3 py-2 me-2">{{ skill.name }}</span>
              
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
